@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap");

* {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}
body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}
/* NAVBAR */
nav {
  /* background-color: rgb(233, 33, 116); */
  color: rgb(200, 200, 200) !important;
  /* height: 60px; */
  position: fixed;
  width: 100%;
  top: 0;
  transition: 0.6s;
  z-index: 999;
}
nav .logo:hover {
  color: rgb(220, 220, 220) !important;
}
nav .logo h4 {
  font-family: "raleway", sans-serif;
  font-weight: bold;
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
nav ul li a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: rgb(200, 200, 200) !important;
  transition: 0.3s;
}
nav ul li a:hover {
  color: rgb(220, 220, 220) !important;
  text-decoration: none;
  font-size: 0.9em;
}

/* humberger Menu */

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  cursor: pointer;
}
.menu-toggle span {
  display: block;
  width: 20px;
  height: 3px;
  background-color: rgb(200, 200, 200);
  border-radius: 3px;
  transform-origin: left;
  transition: 0.5s;
}

.atas {
  transform: translate(2px, 1px) rotate(45deg) !important;
  background-color: white !important;
}
.tengah {
  opacity: 0;
  transform: scale(0);
}
.bawah {
  transform: translate(2px, -1.7px) rotate(-45deg) !important;
  background-color: white !important;
}
/* /NAVBAR */

/* Button to Up*/
#btnTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  padding: 10px;
  background: rgb(233, 33, 116);
  color: #fff;
  display: none;
  box-sizing: border-box;
  font-size: 20px;
  opacity: 0.8;
  z-index: 999;
}
#btnTop:hover {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

/* CONTAINER*/
/* section */
#sec1 {
  /* max-width: initial!important; */
  background-image: url("../img/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
#sec1 div {
  display: flex;
  justify-content: space-around;
  position: initial;
  margin: auto;
}

#sec1 div h1,
#sec1 div h4,
#sec1 div button {
  color: rgb(218, 218, 218);
  font-weight: 600;
  font-family: "Raleway";
}
#sec1 #text1,
#sec2 #text2 {
  font-weight: bold;
  display: none;
}
.text-slider1,
.text-slider2 {
  color: rgb(233, 33, 116);
}
#btn {
  background-color: transparent;
  box-shadow: 0px 0px 0px 2px rgb(233, 33, 116);
  letter-spacing: 2px;
  font-family: poppins;
  font-weight: 600;
  transition: 1s;
}
#btn:hover {
  background-color: rgb(233, 33, 116);
  color: #fff;
}
#sec1 div img {
  width: 400px;
  transform: scale(1.3) translateY(50px);
  /* box-shadow: 0px 0px 0px 10px red; */
}

/* section 2 */
#sec2 {
  background-color: white;
}
#subhead:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 4px;
  margin: 0px 5px;
  background: red;
  position: relative;
  left: 0px;
  top: -3px;
}
#subhead:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 4px;
  margin: 0px 5px;
  background: red;
  position: relative;
  left: 0px;
  top: -3px;
}
#sec2 #imgAbout,
#sec2 #descAbout {
  transition: 1.5s ease-out;
}
#sec2 div div:nth-of-type(2) {
  line-height: 2;
}
#sec2 div div img {
  box-shadow: 0px 0px 20px 0px rgb(84, 84, 84);
}

/* section 3 */
#sec3 #myAds,
#sec3 #webDesign,
#sec3 #myWriter {
  overflow: hidden;
}
#sec3 #myAds {
  transition: 0.5s ease-in-out;
}
#sec3 #webDesign {
  transition: 1s ease-in-out;
}
#sec3 #myWriter {
  transition: 1.5s ease-in-out;
}
#sec3 .box {
  padding: 1rem 0.8rem;
  transition: 0.5s ease-out;
  cursor: pointer;
}
#sec3 .box:hover {
  transform: scale(1.05);
  background-color: rgb(233, 33, 116);
}
#sec3 .box p {
  margin-block-end: 0 !important;
  font-size: 0.8rem;
}

/* section 4 */
#sec4 div div:nth-of-type(2) div {
  cursor: pointer;
}
#sec4 .line {
  height: 10px;
  width: 75%;
  overflow: hidden;
  background: #000;
  z-index: 2 !important;
}
#sec4 .line:after {
  content: "";
  display: inherit;
  height: inherit;
  position: relative;
  left: -2%;
  width: 0%;
  background-color: rgb(233, 33, 116);
  border-radius: 2.5rem 0rem 0rem 2.5rem;
}
#sec4 #box-skill-1:hover #line1::after,
#sec4 #box-skill-2:hover #line2::after,
#sec4 #box-skill-5:hover #line5::after {
  width: 100%;
  transition: 1s ease;
}
#sec4 #box-skill-3:hover #line3::after,
#sec4 #box-skill-6:hover #line6::after {
  width: 70%;
  transition: 1s ease;
}
#sec4 #box-skill-4:hover #line4::after {
  width: 40%;
  transition: 1s ease;
}
#sec4 #desc-skill {
  transition: 2s;
}
#sec4 #desc-skill-0,
#sec4 #desc-skill-1,
#sec4 #desc-skill-2,
#sec4 #desc-skill-3,
#sec4 #desc-skill-4,
#sec4 #desc-skill-5,
#sec4 #desc-skill-6 {
  display: none;
}

/* section 5 (portfolio) */
.fa-angle-double-down {
  transition: 0.5s ease-out;
}
.fa-angle-double-down-rotate {
  transform: rotate(180deg);
}

/* section 6 (kontak) */
#sec6 div div div a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: inherit;
}

/* /CONTAINER */

/* RESPONSIVE BREAK POINT */

/* responsive notebook */
@media screen and (max-width: 992px) {
  nav ul {
    width: 40%;
  }
}

/* responsive tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 100%;
  }
  nav ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: rgb(233, 33, 116);
    /* z-index: 1; */
    transform: translate(-100%);
    transition: all 1.5s ease;
    opacity: 0;
    /* border-radius: 10% 0% 0% 10%; */
    /* background-color: rgb(40, 44, 52); */
  }
  .pindah {
    opacity: 1;
    transform: translate(0%) !important;
  }
  .menu-toggle {
    display: flex;
  }

  /* /container */
  #sec1 div h1 {
    font-size: 1.2rem;
  }
  #sec1 div button {
    font-size: 0.8rem;
  }
  #sec1 div h4 {
    font-size: 0.7rem;
  }
  #sec1 div img {
    width: 200px;
  }
  #sec1 div:nth-of-type(1) {
    padding-top: 30vh !important;
    padding-left: 3vh;
  }
  #sec2 #imgAbout {
    margin-bottom: 50px !important;
  }
  #sec3 div div:nth-of-type(even) {
    margin: 50px 0px;
  }
}

/* responsive mobile */
@media screen and (max-width: 576px) {
  /* statement */
}
